{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Lista - Contratos{% endblock %}
{% block content %}
    <div class="container-fluid bg-white">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inicio' %}" id="item-naveg">Principal</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listagem de Contratos</li>
            </ol>
        </nav>
        {% if messages %}
            <div id="django-messages" data-messages='[
                {% for message in messages %}
                    {"text": "{{ message|escapejs }}", "tag": "{{ message.tags }}"}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ]'></div>
        {% endif %}
        {% if not perm_add_contrato and not perm_change_contrato and not perm_delete_contrato %}
            <div class="alert alert-warning">
                Usuário não autorizado para realizar esta função.
            </div>
        {% endif %}
        <form method="GET" id="search-form" style="margin-left: 1%; margin-right: 1%;">
            <div class="row g-3 align-items-end">
                <div class="col-md-1 search-div flex-md-fill">
                    <label class="form-label">Empresa:</label>
                    <select class="form-control" id="emp" name="emp">
                        <option value="">Escolha uma opção</option>
                        {% if empresa_selecionada %}
                            <option class="text-uppercase" value="{{ empresa_selecionada.id }}" selected>
                                {{ empresa_selecionada.fantasia }}
                            </option>
                        {% endif %}
                        {% for empresa in empresas %}
                            <option class="text-uppercase" value="{{ empresa.id }}" {% if request.GET.emp == empresa.id|stringformat:"s" %}selected{% endif %}>
                                {{ empresa.fantasia }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Situação:</label>
                    <div class="d-flex">
                        <select class="form-control" name="sit" id="situacao">
                            <option value="Ativo" {% if request.GET.sit == 'Ativo' %}selected{% endif %}>Ativos</option>
                            <option value="Suspenso" {% if request.GET.sit == 'Suspenso' %}selected{% endif %}>Suspensos</option>
                            <option value="Cancelado" {% if request.GET.sit == 'Cancelado' %}selected{% endif %}>Cancelados</option>
                            <option value="todos" {% if request.GET.sit == 'todos' %}selected{% endif %}>Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Período:</label>
                    <select class="form-control" id="usar-data" name="p_dt">
                        <option value="Nao" {% if request.GET.p_dt == 'Nao' %}selected{% endif %}>Não</option>
                        <option value="Sim" {% if request.GET.p_dt == 'Sim' %}selected{% endif %}>Sim</option>
                    </select>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Listar por:</label>
                    <div class="d-flex">
                        <select class="form-control" name="list_p" id="list_p">
                            <option value="Início" {% if request.GET.list_p == 'Início' %}selected{% endif %}>Dt. Início</option>
                            <option value="dt_criacao" {% if request.GET.list_p == 'dt_criacao' %}selected{% endif %}>Dt. Emissão</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 search-div">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">De:</label>
                            <input class="form-control" type="text" name="dt_ini" id="data_inicio1" value="{{ request.GET.dt_ini }}">
                        </div>
                        <div class="col">
                            <label class="form-label">Até:</label>
                            <input class="form-control" type="text" name="dt_fim" id="data_fim1" value="{{ request.GET.dt_fim }}">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Ordem:</label>
                    <div class="d-flex">
                        <select class="form-control" name="ordem" id="ordem">
                            <option value="empresa__fantasia" {% if request.GET.ordem == 'empresa__fantasia' %}selected{% endif %}>Empresa</option>
                            <option value="dt_venc" {% if request.GET.ordem == 'dt_venc' %}selected{% endif %}>Dt. Venc.</option>
                            <option value="created_at" {% if request.GET.ordem == 'created_at' %}selected{% endif %}>Dt. Emissão</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Reg.:</label>
                    <select class="form-control" id="qtd_reg" name="reg">
                        <option value="10" {% if request.GET.reg == '10' %}selected{% endif %}>10</option>
                        <option value="20" {% if request.GET.reg == '20' %}selected{% endif %}>20</option>
                        <option value="30" {% if request.GET.reg == '30' %}selected{% endif %}>30</option>
                        <option value="40" {% if request.GET.reg == '40' %}selected{% endif %}>40</option>
                        <option value="50" {% if request.GET.reg == '50' %}selected{% endif %}>50</option>
                        <option value="todos" {% if request.GET.reg == 'todos' %}selected{% endif %}>Todos</option>
                    </select>
                </div>
                <div class="col search-div d-flex justify-content-start">
                    <button class="btn btn-dark" title="Consultar contratos" type="submit" id="data-btn" data-bs-toggle="modal" data-bs-target="#loadingModal">🔎</button>
                </div>
            </div>
        </form>
        <div class="table-container" style="margin-left: 1%; margin-right: 1%;">
            <table class="table table-bordered table-responsive-md table-rounded table-striped" id="tabelas-lista">
                <thead thead class="table-dark">
                    <tr>
                        <th scope="col" style="text-align: center; width: 5%;">Opções</th>
                        <th scope="col" style="text-align: justify; width: 8%;">Nr. Contrato</th>
                        <th scope="col" style="text-align: center; width: 5%;">Situação</th>
                        <th scope="col" style="text-align: center; width: 5%;">Status</th>
                        <th scope="col" style="text-align: justify; width: 12%;">Empresa</th>
                        <th scope="col" style="align-items: center; width: 9%;">Dt. Emissão</th>
                        <th scope="col" style="align-items: center; width: 9%;">Dt. Início</th>
                        <th scope="col" style="align-items: center; width: 8%;">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contrato in contratos %}
                        <tr>

                            <td style="width: 80px;">
                                <span>
                                    <i class="fas fa-trash" title="Deletar contrato" data-bs-toggle="modal" data-bs-target="#modal-{{ contrato.id }}"></i>
                                </span>

                                <!-- Modal ÚNICO para cada contrato -->
                                <div class="modal fade" id="modal-{{ contrato.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel-{{ contrato.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header titulo-modal">
                                                <h1 class="modal-title fs-5" id="modalLabel-{{ contrato.id }}">
                                                    <i class="fa-regular fa-circle-question"></i> Confirmação!
                                                </h1>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você confirma a EXCLUSÃO DO CONTRATO <strong>{{ contrato.id }}</strong>?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary btn-confirmar" data-url="{% url 'del-contrato' contrato.id %}" disabled>
                                                    <u>S</u>im <span class="contador">3</span>
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><u>N</u>ão</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'att-contrato' contrato.id %}" class="btn-permissao"
                                  data-permissao="contratos.change_contrato"
                                  data-msg-negado="Seu usuário não pode editar contratos!"><span><i class="fas fa-edit" title="Editar"></i></span></a>
                                {% if contrato.status == "Pendente" %}<a href="{% url 'aprovar-contrato' contrato.id %}"><span><i class="fa-regular fa-square-check" title="Aprovar contrato"></i></span></a>{% endif %}
                            </td>
                            <td style="align-items: center;">{{ contrato.id }}</td>
                            <td style="text-align: center; padding: 5px;">
                                {% if contrato.situacao == 'Ativo' %}
                                    <div style="background-color: #2c2c2c; border-radius: 20px; color: white; margin-top: 5px;">
                                        <strong>{{ contrato.situacao }}</strong>
                                    </div>
                                {% elif contrato.situacao == 'Suspenso' %}
                                    <div style="background-color: yellow; border-radius: 20px; color: white; padding-left: 10px; padding-right: 10px; margin-top: 5px;">
                                        <strong>{{ contrato.situacao }}</strong><br>
                                    </div>
                                {% else %}
                                    <div style="background-color: red; border-radius: 20px; color: white; padding-left: 10px; padding-right: 10px; margin-top: 5px;">
                                        <strong>{{ contrato.situacao }}</strong><br>
                                    </div>
                                {% endif %}
                            </td>
                            <td style="text-align: center; padding: 5px;">
                                {% if contrato.status == 'Pendente' %}
                                    <div style="background-color: #005eff; border-radius: 20px; color: white; margin-top: 5px;">
                                        <strong>{{ contrato.status }}</strong>
                                    </div>
                                {% else %}
                                    <div style="background-color: #3CB371; border-radius: 20px; color: white; padding-left: 10px; padding-right: 10px; margin-top: 5px;">
                                        <strong>{{ contrato.status }}</strong><br>
                                    </div>
                                {% endif %}
                            </td>
                            <td style="align-items: center;" class="text-uppercase">{{ contrato.empresa.fantasia }}</td>
                            <td style="align-items: center;">{{ contrato.created_at|date:"d/m/Y" }}</td>
                            <td style="align-items: center;">{{ contrato.dt_inicio|date:"d/m/Y" }}</td>
                            <td style="align-items: center;">{{ contrato.valor_mensalidade|moeda_br }}</td>
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="9" class="me-auto" style="text-align: center;">
                            Nenhum contrato encontrada.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-body" style="max-height: 50px;">
                <strong>Total de Contratos: {{ contratos|length }}</strong>
                <a id="add-link" href="{% url 'add-contrato' %}" style="margin-left: 1%; margin-right: 1%; float: right;" class="btn-permissao" data-permissao="contratos.add_contrato" data-msg-negado="Seu usuário não pode adicionar contratos!">
                    <button type="button" class="btn btn-primary btn-sm" id="add-contrato"><i class="fas fa-plus"></i> Novo</button>
                </a>
            </div>
            <div class="card-footer text-body-secondary">
                <nav aria-label="Page navigation example" style="padding-bottom: 1px;">
                    <ul class="pagination justify-content-center">
                        {% if contratos.number > 1 and contratos.number > 3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="First">
                                    <span aria-hidden="true" style="color: #0f1d2b;">1</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if contratos.number > 4 %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        {% endif %}
                        {% for num in contratos.paginator.page_range %}
                            {% if num >= contratos.number|add:'-2' and num <= contratos.number|add:'2' %}
                                {% if contratos.number == num %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link" style="background-color: #0f1d2b; color: white;">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" style="color: #0f1d2b;" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if contratos.number < contratos.paginator.num_pages|add:'-3' %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        {% endif %}
                        {% if contratos.number < contratos.paginator.num_pages and contratos.number < contratos.paginator.num_pages|add:'-2' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ contratos.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    <span aria-hidden="true" style="color: #0f1d2b;">{{ contratos.paginator.num_pages }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
