{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% load crispy_forms_tags %}
{% block title %}Alterar Usuário{% endblock %}
{% block content %}
<div class="container-fluid bg-white">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}" id="item-naveg">Principal</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lista-usuarios' %}" id="item-naveg">Usuários</a></li>
            <li class="breadcrumb-item active" aria-current="page">Alterar</li>
        </ol>
    </nav>
    <div class="formularios">
        <form method="POST" id="createForm" enctype="multipart/form-data">
            {% csrf_token %}
            {% if usuario %}
                {% if messages %}
                    <div id="django-messages" data-messages='[
                        {% for message in messages %}
                            {"text": "{{ message|escapejs }}", "tag": "{{ message.tags }}"}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]'></div>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        <span>
                            ALTERAÇÃO DE USUÁRIOS
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row g-3" style="margin-left: -8px;">
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                            <div class="col-md-1">
                                {{ form.is_active|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.filial_user|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-1">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.tel|as_crispy_field }}
                            </div>
                            <div class="col-md-1">
                                <input type="file" id="id_foto" name="foto" style="display: none;">
                                <img id="foto-preview" class="form-control form-control-sm border-dark-subtle" src="{% if usuario.foto and usuario.foto.url %}{{ usuario.foto.url }}{% else %}https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-21.png{% endif %}"
                                    alt="Foto do usuário" title="Clique para alterar a imagem" style="cursor: pointer; width: 90px; height: 90px; border: 1px solid #ddd; border-radius: 5px;">
                            </div>
                            <div class="col-md-2">
                                {{ form.password|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                <label for="id_senha_liberacao" class="form-label d-flex text-start align-items-center">
                                    <div class="form-check form-switch m-0">
                                        <input class="form-check-input" type="checkbox" id="id_gerar_senha_lib" name="gerar_senha_lib" {% if usuario.gerar_senha_lib %}checked{% endif %}>
                                    </div>
                                    <span>Senha de Autorização</span> <i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Senha de liberação de ações para usuários sem permissão!"></i></label>
                                </label>
                                <input type="password" class="form-control form-control-sm border-dark-subtle" id="id_senha_liberacao" name="senha_liberacao">
                                <div id="id_senha_liberacao_helptext" class="form-text">Para nova senha, preencha esse campo!</div>
                            </div>
                            <div class="col-md-2">
                                {{ form.vendedor|as_crispy_field }}
                            </div>
                            <div class="card tab-container" style="margin: 0; margin-left: 5px;">
                                <div class="form-buttons" style="margin-left: 10px; margin-top: 10px; margin-bottom: 10px;">
                                    <div class="card-header bg-white">
                                        <button type="button" class="btn btn-dark menu-btn" data-section="enderecos" id="endBtn">Perfis do Usuário</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="permissoes" id="permBtn">Permissões</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="filiais" id="filBtn">Filiais do Usuário</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="tabelas" id="tabelasBtn">Tabelas de Preço</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="formas_user" id="formasBtn">Formas de Pagamento</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="complementos" id="complBtn">Cards</button>
                                    </div>
                                </div>
                                <div class="form-section active-section" id="enderecos">
                                    <div class="row g-3" style="margin-left: -8px;">
                                        {% for categoria, grupos in form.categorias_permissoes.items %}
                                            <div class="card mb-2" style="margin: 0; margin-left: 4px;">
                                                <div class="card-header bg-dark-subtle text-center" style="margin-left: -8px; margin-right: -8px;">
                                                    <h4 class="mb-1 mt-1 text-primary-emphasis" style="font-weight: bold;">{{ categoria }}</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="row">
                                                        {% for grupo in grupos %}
                                                            <div class="col-md-4">
                                                                <div class="card" style="margin: 0; margin-bottom: 20px;">
                                                                    <div class="card-header bg-dark-subtle text-primary text-center" style="font-size: 1.4rem; font-weight: bold;">
                                                                        <span class="check-grupo" style="cursor: pointer; user-select: none; color: blue; text-decoration: none;"
                                                                              data-grupo="{{ grupo|slugify }}">
                                                                            <i class="fa-solid fa-table-list"></i>
                                                                        </span>
                                                                        {{ grupo }}
                                                                    </div>
                                                                    <div class="card-body">
                                                                        {% for perm in form.grupo_permissoes|get_item:grupo %}
                                                                            <div class="form-check mb-2">
                                                                                <input class="form-check-input check-permissao"
                                                                                       name="permissoes"
                                                                                       type="checkbox"
                                                                                       value="{{ perm.id }}"
                                                                                       id="check_{{ perm.id }}"
                                                                                       data-grupo="{{ grupo|slugify }}"
                                                                                       {% if perm.id in form.initial.permissoes %} checked {% endif %}>
                                                                                <label class="form-check-label" for="check_{{ perm.id }}">
                                                                                    {% with perm.codename as code %}
                                                                                        {% if 'add_' in code %}
                                                                                            <span class="badge-permissao fs-6">Incluir</span>
                                                                                        {% elif 'change_' in code %}
                                                                                            <span class="badge-permissao fs-6">Editar</span>
                                                                                        {% elif 'clonar_' in code %}
                                                                                            <span class="badge-permissao fs-6">Clonar</span>
                                                                                        {% elif 'delete_' in code %}
                                                                                            <span class="badge-permissao fs-6">Excluir</span>
                                                                                        {% elif 'view_' in code %}
                                                                                            <span class="badge-permissao fs-6">Visualizar</span>
                                                                                        {% elif 'efetivar_' in code %}
                                                                                            <span class="badge-permissao fs-6">Efetivar</span>
                                                                                        {% elif 'faturar_' in code %}
                                                                                            <span class="badge-permissao fs-6">Faturar</span>
                                                                                        {% elif 'baixar_' in code %}
                                                                                            <span class="badge-permissao fs-6">Baixar</span>
                                                                                        {% elif 'cancelar_' in code %}
                                                                                            <span class="badge-permissao fs-6">Cancelar</span>
                                                                                        {% elif 'atribuir_desconto' in code or 'atribuir_desconto_ped' in code or 'atribuir_desconto_cr' in code %}
                                                                                            <span class="badge-permissao fs-6">Atribuir Desconto</span>
                                                                                        {% elif 'atribuir_acrescimo' in code or 'atribuir_acrescimo_ped' in code %}
                                                                                            <span class="badge-permissao fs-6">Atribuir Acréscimo</span>
                                                                                        {% elif 'atribuir_acrescimo' in code or 'atribuir_acrescimo_ped' in code %}
                                                                                            <span class="badge-permissao fs-6">Atribuir Acréscimo</span>
                                                                                        {% elif 'estornar_' in code %}
                                                                                            <span class="badge-permissao fs-6">Estornar</span>
                                                                                        {% elif 'alterar_dt_venc_orc' in code %}
                                                                                            <span class="badge-permissao fs-6">Alterar data de Vencimento das Parcelas</span>
                                                                                        {% elif 'alterar_dt_fat_orc' in code or 'alterar_data_faturamento' in code %}
                                                                                            <span class="badge-permissao fs-6">Alterar data de Faturamento</span>
                                                                                        {% elif 'vender_sem_estoque_ped' in code or 'vender_sem_estoque_orc' in code %}
                                                                                            <span class="badge-permissao fs-6">Faturar Sem Estoque</span>
                                                                                        {% elif 'alt_vl_ped' in code %}
                                                                                            <span class="badge-permissao fs-6">Alterar Valor do Produto</span>
                                                                                        {% elif 'relatorio_pedidos' in code %}
                                                                                            <span class="badge-permissao fs-6">Acessar Relatórios de Pedidos</span>
                                                                                        {% elif 'relatorio_vendas_produto' in code %}
                                                                                            <span class="badge-permissao fs-6">Acessar Relatórios de Vendas de Produtos</span>
                                                                                        {% elif 'caixa_outro_user' in code %}
                                                                                            <span class="badge-permissao fs-6">Acessar Caixa de Outro Usuário</span>
                                                                                        {% else %}
                                                                                            {{ perm.name }}
                                                                                        {% endif %}
                                                                                    {% endwith %}
                                                                                </label>
                                                                            </div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-section" id="permissoes">
                                    <div class="row mb-2">
                                        <div class="col-md-3">
                                            <div class="form-check form-switch">
                                                {{ form.receber_alerta_estoque }}
                                                <label class="form-check-label" for="{{ form.receber_alerta_estoque.id_for_label }}">{{ form.receber_alerta_estoque.label }}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-check form-switch">
                                                {{ form.receber_alerta_estoque_maximo }}
                                                <label class="form-check-label" for="{{ form.receber_alerta_estoque_maximo.id_for_label }}">{{ form.receber_alerta_estoque_maximo.label }}</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            {{ form.desconto_maximo|as_crispy_field }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form.limite_credito|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="filiais">
                                    <div class="row mb-2">
                                        <div class="col-md-3 mb-2">
                                            {{ form.opfilial|as_crispy_field }}
                                        </div>
                                        <div class="card card-filiais" style="margin: 0;">
                                            <div class="card-header text-center" style="margin-left: -11.25px; margin-right: -11.25px;">
                                                Filiais do Usuário
                                            </div>
                                            <div class="card-body">
                                                <div class="col-md-12">
                                                    <ul class="list-group">
                                                        {% for checkbox in form.filiais_permitidas %}
                                                            <li class="form-check list-group-item position-relative">
                                                                {{ checkbox.tag }}
                                                                <label class="form-check-label stretched-link ms-2" for="{{ checkbox.id_for_label }}">
                                                                    {{ checkbox.choice_label }}
                                                                </label>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="tabelas">
                                    <div class="row mb-2">
                                        <div class="col-md-3 mb-2">
                                            {{ form.optabelas|as_crispy_field }}
                                        </div>
                                        <div class="card card-tabelas" style="margin: 0;">
                                            <div class="card-header text-center" style="margin-left: -11.25px; margin-right: -11.25px;">
                                                Tabelas de Preço do Usuário
                                            </div>
                                            <div class="card-body">
                                                <div class="col-md-12">
                                                    <ul class="list-group">
                                                        {% for checkbox in form.tabelas_preco %}
                                                            <li class="list-group-item position-relative">
                                                                {{ checkbox.tag }}
                                                                <label class="form-check-label stretched-link ms-2" for="{{ checkbox.id_for_label }}">
                                                                    {{ checkbox.choice_label }}
                                                                </label>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="formas_user">
                                    <div class="row mb-2">
                                        <div class="col-md-3 mb-2">
                                            {{ form.opformas|as_crispy_field }}
                                        </div>
                                        <div class="card card-formas" style="margin: 0;">
                                            <div class="card-header text-center" style="margin-left: -11.25px; margin-right: -11.25px;">
                                                Formas de Pagamento do Usuário
                                            </div>
                                            <div class="card-body">
                                                <div class="col-md-12">
                                                    <ul class="list-group">
                                                        {% for checkbox in form.formas_pagamento %}
                                                            <li class="list-group-item position-relative">
                                                                {{ checkbox.tag }}
                                                                <label class="form-check-label stretched-link ms-2" for="{{ checkbox.id_for_label }}">
                                                                    {{ checkbox.choice_label }}
                                                                </label>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="complementos">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item mb-2">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed fw-bold" style="max-height: 30px; background-color: #A9A9A9;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Cards (Orçamentos - Portas)
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_res_orc }}
                                                                <label class="form-check-label" for="{{ form.ver_res_orc.id_for_label }}">{{ form.ver_res_orc.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_res_orc_tec }}
                                                                <label class="form-check-label" for="{{ form.ver_res_orc_tec.id_for_label }}">{{ form.ver_res_orc_tec.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_conv_orc }}
                                                                <label class="form-check-label" for="{{ form.ver_conv_orc.id_for_label }}">{{ form.ver_conv_orc.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_ticket_medio }}
                                                                <label class="form-check-label" for="{{ form.ver_ticket_medio.id_for_label }}">{{ form.ver_ticket_medio.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_valor_perdido }}
                                                                <label class="form-check-label" for="{{ form.ver_valor_perdido.id_for_label }}">{{ form.ver_valor_perdido.label }}</label>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_vl_total_faturado }}
                                                                <label class="form-check-label" for="{{ form.ver_vl_total_faturado.id_for_label }}">{{ form.ver_vl_total_faturado.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_tempo_medio_faturamento }}
                                                                <label class="form-check-label" for="{{ form.ver_tempo_medio_faturamento.id_for_label }}">{{ form.ver_tempo_medio_faturamento.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_m2_total }}
                                                                <label class="form-check-label" for="{{ form.ver_m2_total.id_for_label }}">{{ form.ver_m2_total.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_peso_total }}
                                                                <label class="form-check-label" for="{{ form.ver_peso_total.id_for_label }}">{{ form.ver_peso_total.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_situacao_orcamentos }}
                                                                <label class="form-check-label" for="{{ form.ver_situacao_orcamentos.id_for_label }}">{{ form.ver_situacao_orcamentos.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_evolucao_orcamentos }}
                                                                <label class="form-check-label" for="{{ form.ver_evolucao_orcamentos.id_for_label }}">{{ form.ver_evolucao_orcamentos.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_ranking_tecnicos }}
                                                                <label class="form-check-label" for="{{ form.ver_ranking_tecnicos.id_for_label }}">{{ form.ver_ranking_tecnicos.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_ranking_clientes }}
                                                                <label class="form-check-label" for="{{ form.ver_ranking_clientes.id_for_label }}">{{ form.ver_ranking_clientes.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_situacao_valor_orcamentos }}
                                                                <label class="form-check-label" for="{{ form.ver_situacao_valor_orcamentos.id_for_label }}">{{ form.ver_situacao_valor_orcamentos.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_faturamento_diario }}
                                                                <label class="form-check-label" for="{{ form.ver_faturamento_diario.id_for_label }}">{{ form.ver_faturamento_diario.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_top_10_produtos_qtde }}
                                                                <label class="form-check-label" for="{{ form.ver_top_10_produtos_qtde.id_for_label }}">{{ form.ver_top_10_produtos_qtde.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_top_10_produtos_vl }}
                                                                <label class="form-check-label" for="{{ form.ver_top_10_produtos_vl.id_for_label }}"> {{ form.ver_top_10_produtos_vl.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_formas_orcamentos }}
                                                                <label class="form-check-label" for="{{ form.ver_formas_orcamentos.id_for_label }}">{{ form.ver_formas_orcamentos.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_status_orcamentos }}
                                                                <label class="form-check-label" for="{{ form.ver_status_orcamentos.id_for_label }}">{{ form.ver_status_orcamentos.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_cores_orcamentos }}
                                                                <label class="form-check-label" for="{{ form.ver_cores_orcamentos.id_for_label }}">{{ form.ver_cores_orcamentos.label }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-check form-switch">
                                                                {{ form.ver_caracteristicas_orcamentos }}
                                                                <label class="form-check-label" for="{{ form.ver_caracteristicas_orcamentos.id_for_label }}">{{ form.ver_caracteristicas_orcamentos.label }}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="base_botao">
                                <button type="button" class="btn btn-success botoes" data-bs-target="#staticBackdrop" id="openModalBtn">Alterar</button>
                            <a href="#" class="btn btn-secondary botoes" id="voltarBtn" style="margin-right: 10px;">Voltar</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header titulo-modal">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa-regular fa-circle-question"></i> Confirmação!</h1>
                </div>
                <div class="modal-body">
                    <p>Você confirma a ALTERAÇÃO DO USUÁRIO?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadingModal" id="confirmBtn"><u>S</u>im</button>
                    <button type="button" class="btn btn-secondary" id="btnRecusa" data-bs-dismiss="modal"><u>N</u>ão</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %} <div class="accordion-item">
    <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
    </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
        <strong>This is the third item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
    </div>
    </div>
</div> {% endcomment %}
{% endblock %}