{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Lista - Pedidos{% endblock %}
{% block content %}
    <div class="container-fluid bg-white">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inicio' %}" id="item-naveg">Principal</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listagem de Pedidos</li>
            </ol>
        </nav>
        {% if messages %}
            <div id="django-messages" data-messages='[
            {% for message in messages %}
                {"text": "{{ message|escapejs }}", "tag": "{{ message.tags }}"}
                {% if not forloop.last %},{% endif %}
            {% endfor %}
            ]'></div>
        {% endif %}
        <form method="GET" id="search-form" style="margin-left: 1%; margin-right: 1%;">
            <div class="row g-3 align-items-end">
                <div class="col-md-2 search-div">
                    <label class="form-label">Nº Pedido:</label>
                    <input class="form-control" type="text" name="s" id="s" placeholder="Digite o termo de busca" value="{{ request.GET.s }}">
                </div>
                <div class="col-md-2 search-div flex-md-fill">
                    <label class="form-label">Filial:</label>
                    <select class="form-control" id="filial" name="filial">
                        <option value="">Selecione uma filial</option>
                        {% if filial_selecionada %}
                            <option value="{{ filial_selecionada.id }}" selected>
                                {{ filial_selecionada.fantasia }}
                            </option>
                        {% endif %}
                        {% for f in filiais %}
                            <option value="{{ f.id }}" {% if request.GET.filial == f.id|stringformat:"s" %}selected{% endif %}>
                                {{ f.fantasia }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2 search-div flex-md-fill">
                    <label class="form-label">Cliente:</label>
                    <select class="form-control" id="cliente" name="cl">
                        <option value="">Escolha uma opção</option>
                        {% if cliente_selecionado %}
                            <option value="{{ cliente_selecionado.id }}" selected>
                                {{ cliente_selecionado.fantasia }}
                            </option>
                        {% endif %}
                        {% for cliente in clientes %}
                            <option value="{{ cliente.id }}" {% if request.GET.cl == cliente.id|stringformat:"s" %}selected{% endif %}>
                                {{ cliente.fantasia }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <!--<div class="col-md-2 search-div flex-md-fill">-->
                <!--    <label class="form-label">Técnico/Solicitante:</label>-->
                <!--    <select class="form-control" id="tecnico" name="tec">-->
                <!--        <option value="">Escolha uma opção</option>-->
                <!--        {% if tecnico_selecionado %}-->
                <!--            <option value="{{ tecnico_selecionado.id }}" selected>-->
                <!--                {{ tecnico_selecionado.nome }}-->
                <!--            </option>-->
                <!--        {% endif %}-->
                <!--        {% for tecnico in tecnicos %}-->
                <!--            <option value="{{ tecnico.id }}" {% if request.GET.tec == tecnico.id|stringformat:"s" %}selected{% endif %}>-->
                <!--                {{ tecnico.nome }}-->
                <!--            </option>-->
                <!--        {% endfor %}-->
                <!--    </select>-->
                <!--</div>-->
                <div class="col-md-1 search-div">
                    <label class="form-label">Situação:</label>
                    <div class="d-flex">
                        <select class="form-control" name="sit" id="situacao">
                            <option value="Aberto" {% if request.GET.sit == 'Aberto' %}selected{% endif %}>Abertos</option>
                            <option value="Faturado" {% if request.GET.sit == 'Faturado' %}selected{% endif %}>Faturados</option>
                            <option value="Cancelado" {% if request.GET.sit == 'Cancelado' %}selected{% endif %}>Cancelados</option>
                            <option value="Todos" {% if request.GET.sit == 'Todos' %}selected{% endif %}>Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Data de:</label>
                    <div class="d-flex">
                        <select class="form-control" name="tp_dt" id="tp_data">
                            <option value="Emissão" {% if request.GET.tp_dt == 'Emissão' %}selected{% endif %}>Emissão</option>
                            <option value="Fatura" {% if request.GET.tp_dt == 'Fatura' %}selected{% endif %}>Fatura</option>
                            <option value="Todos" {% if request.GET.tp_dt == 'Todos' %}selected{% endif %}>Todos</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Período:</label>
                    <select class="form-control" id="usar-data" name="p_dt">
                        <option value="Sim" {% if request.GET.p_dt == 'Sim' %}selected{% endif %}>Sim</option>
                        <option value="Nao" {% if request.GET.p_dt == 'Nao' %}selected{% endif %}>Não</option>
                    </select>
                </div>
                <div class="col-md-2 search-div">
                    <div class="col">
                        <label class="form-label">De:</label>
                        <input class="form-control" type="text" name="dt_ini" id="data_inicio1" value="{{ request.GET.dt_ini }}">
                    </div>
                </div>
                <div class="col-md-2 search-div">
                    <div class="col">
                        <label class="form-label">Até:</label>
                        <input class="form-control" type="text" name="dt_fim" id="data_fim1" value="{{ request.GET.dt_fim }}">
                    </div>
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Reg.:</label>
                    <select class="form-control" id="qtd_reg" name="reg">
                        <option value="10" {% if request.GET.reg == '10' %}selected{% endif %}>10</option>
                        <option value="20" {% if request.GET.reg == '20' %}selected{% endif %}>20</option>
                        <option value="30" {% if request.GET.reg == '30' %}selected{% endif %}>30</option>
                        <option value="40" {% if request.GET.reg == '40' %}selected{% endif %}>40</option>
                        <option value="50" {% if request.GET.reg == '50' %}selected{% endif %}>50</option>
                        <option value="todos" {% if request.GET.reg == 'todos' %}selected{% endif %}>Todos</option>
                    </select>
                </div>
                <div class="col search-div d-flex justify-content-start">
                    <button class="btn btn-dark" title="Consultar" type="submit" id="data-btn" data-bs-toggle="modal" data-bs-target="#loadingModal">🔎</button>
                </div>
            </div>
        </form>
        <div class="table-container" style="margin-left: 1%; margin-right: 1%;">
            <table class="table table-bordered table-responsive-md table-rounded table-striped" id="tabelas-lista">
                <thead thead class="table-dark">
                    <tr>
                        <th scope="col" style="text-align: justify; width: 4%;">Opções</th>
                        <th scope="col" style="text-align: justify; width: 8%;">Nº Pedido</th>
                        <th scope="col" style="text-align: justify; width: 6%;">Situação</th>
                        <th scope="col" style="text-align: justify; width: 18%;">Filial</th>
                        <th scope="col" style="text-align: justify; width: 18%;">Cliente</th>
                        <th scope="col" style="text-align: justify; width: 9%;">Vendedor</th>
                        <th scope="col" style="align-items: center; width: 7%;">Dt. Emissão</th>
                        <th scope="col" style="align-items: center; width: 7%;">Dt. Entrega</th>
                        <th scope="col" style="text-align: justify; width: 7%;">Valor</th>
                        <th scope="col" style="align-items: center; width: 12%;">Formas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                        <tr>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#menuModal{{ pedido.id }}">
                                    <span><i class="fa-solid fa-bars" style="font-size: 20px; color: black; margin-left: 15px;" title="Menu de Opções"></i></span>
                                </a>
                                <!-- Modal de opções da pedido -->
                                <div class="modal fade modal-sm" id="menuModal{{ pedido.id }}" tabindex="-1" aria-labelledby="menuModalLabel{{ pedido.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color: #191919;">
                                                <div class="d-flex justify-content-center w-100" style="margin-left: 50px;">
                                                    <h1 class="modal-title fs-5 text-center" id="menuModalLabel{{ pedido.id }}" style="color: white;">
                                                        <i class="fa-brands fa-square-letterboxd"></i> <strong>Opções - {{ pedido.id }}</strong>
                                                    </h1>
                                                </div>
                                            </div>
                                            <div class="modal-body d-grid gap-2">
                                                <a href="{% url 'att-pedido' pedido.id %}" class="btn-permissao" data-permissao="pedidos.change_pedido" data-msg-negado="Seu usuário não pode editar pedidos!">
                                                    <button class="btn btn-outline-dark" type="button" id="botoes-modal" data-id="{{ pedido.id }}">
                                                        <span><i class="fas fa-edit" title="Editar Orçamento"></i></span>
                                                        <strong style="color: #13c43f; font-size: 20px;">EDITAR</strong>
                                                    </button>
                                                </a>
                                                <a href="{% url 'clonar-pedido' pedido.id %}" class="btn-permissao" data-permissao="pedidos.clonar_pedido" data-msg-negado="Seu usuário não pode clonar pedidos!">
                                                    <button class="btn btn-outline-dark" type="button" id="botoes-modal" data-id="{{ pedido.id }}">
                                                        <span><i class="fa-solid fa-clone" title="Clonar Orçamento"></i></span>
                                                        <strong style="color: #483D8B; font-size: 20px;">CLONAR</strong>
                                                    </button>
                                                </a>
                                                {% if pedido.situacao == 'Aberto' %}
                                                    <!-- Botão de Deletar -->
                                                    <button class="btn btn-outline-dark btn-delete" type="button" data-orcamento-id="{{ pedido.id }}">
                                                        <span><i class="fas fa-trash"></i></span>
                                                        <strong style="color: #db1e47; font-size: 20px;">DELETAR</strong>
                                                    </button>
                                                {% else %}
                                                    <a href="{% url 'del-pedido' pedido.id %}">
                                                        <button class="btn btn-outline-dark btn-delete" type="button" data-orcamento-id="{{ pedido.id }}">
                                                            <span><i class="fas fa-trash"></i></span>
                                                            <strong style="color: #db1e47; font-size: 20px;">DELETAR</strong>
                                                        </button>
                                                    </a>
                                                {% endif %}

                                                {% if pedido.situacao == 'Faturado' %}
                                                    <button class="btn btn-outline-dark" type="button" id="doc-botao" data-bs-toggle="collapse" data-bs-target="#btnCancelar" aria-expanded="false" aria-controls="btnCancelar">
                                                        <i class="fa-solid fa-circle-xmark"></i>
                                                        <strong style="font-size: 20px; color: red;">CANCELAR</strong>
                                                    </button>

                                                    <div class="collapse" id="btnCancelar">
                                                        <div class="card card-body">
                                                            <form method="post" action="{% url 'cancelar-pedido' pedido.id %}">
                                                                {% csrf_token %}
                                                                <div style="margin-bottom: 5px;">
                                                                    <label for="id_motivo" class="form-label">Motivo do Cancelamento*</label>
                                                                    <textarea class="form-control" id="id_motivo" name="motivo" required></textarea>
                                                                </div>
                                                                <div style="text-align: center;">
                                                                    <button type="submit" class="btn btn-danger" aria-label="Cancelar orçamento">
                                                                        Cancelar
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if pedido.situacao == 'Aberto' %}
                                                    <button class="btn btn-outline-dark btn-faturar btn-permissao"
                                                        type="button"
                                                        data-permissao="pedidos.faturar_pedido"
                                                        data-msg-negado="Seu usuário não pode faturar pedidos!"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#faturarModal-{{ pedido.id }}"
                                                        data-orcamento-id="{{ pedido.id }}"
                                                        id="doc-botao">
                                                    <span><i class="fa-solid fa-money-bill" title="Faturar Orçamento"></i></span>
                                                    <strong style="color: #3CB371; font-size: 20px;">FATURAR</strong>
                                                </button>
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary mx-auto" data-bs-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if pedido.situacao == 'Aberto' %}
                                    <!-- Modal ÚNICO para cada cliente -->
                                    <div class="modal fade" id="modal-{{ pedido.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel-{{ pedido.id }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header titulo-modal">
                                                    <h1 class="modal-title fs-5" id="modalTitle-{{ pedido.id }}">
                                                        <i class="fa-regular fa-circle-question"></i> Confirmação!
                                                    </h1>

                                                </div>
                                                <div class="modal-body">
                                                    <p>Você confirma a EXCLUSÃO DO PEDIDO <strong>{{ pedido.id }}</strong>?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary btn-confirmar" data-url="{% url 'del-pedido' pedido.id %}" disabled>
                                                        <u>S</u>im <span class="contador">3</span>
                                                    </button>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><u>N</u>ão</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="modal fade" id="faturarModal-{{ pedido.id }}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header bg-success text-white">
                                                <h5 class="modal-title"><i class="fa-solid fa-money-bill" style="float: none;"></i> Faturar Pedido {{ pedido.id }}</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <label class="form-label fw-bold" for="cliente_pedido">Cliente:</label>
                                                        <input class="form-control mb-3 fw-bold" id="cliente_pedido" value="{{ pedido.cli }}" disabled="disabled">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <label class="form-label fw-bold" for="dt_emi_pedido">Data Emissão:</label>
                                                        <input class="form-control mb-3 fw-bold" id="dt_emi_pedido" value="{{ pedido.dt_emi|date:'d/m/Y' }}" disabled="disabled">
                                                    </div>
                                                </div>
                                                <h6 style="font-weight: bold;">Resumo das Formas de Pagamento</h6>
                                                <div style="overflow-x: auto;">
                                                    <table class="table table-bordered table-striped" id="itensTableForm">
                                                        <thead class="table-dark">
                                                            <tr>
                                                                <th>Item</th>
                                                                <th>Forma Pgto.</th>
                                                                <th>Valor</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for forma in pedido.formas_convertidas %}
                                                                <tr>
                                                                    <td>{{ forloop.counter|stringformat:"03d" }}</td>
                                                                    <td>{{ forma.descricao }}</td>
                                                                    <td>{{ forma.valor|moeda_br }}</td>
                                                                </tr>
                                                            {% empty %}
                                                                <tr><td colspan="3" class="text-center">Nenhuma forma de pagamento registrada.</td></tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <form method="post" action="{% url 'faturar-pedido' pedido.id %}">
                                                    {% csrf_token %}
                                                    <button type="button" onclick="imprimirEFaturar({{ pedido.id }})"
                                                            class="btn btn-success"
                                                            data-id="{{ pedido.id }}"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#loadingModal">
                                                        Confirmar Faturamento
                                                    </button>

                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="align-items: center;">{{ pedido.id }}</td>
                            {% if pedido.situacao == 'Aberto' %}
                                <td style="text-align: center; width: 80px;" class="task-item">
                                    <div style="background-color: #005eff; color: white; border-radius: 20px; padding-left: 5px; padding-right: 5px; margin-top: 5px;">
                                        <strong>{{ pedido.situacao }}</strong>
                                    </div>
                                </td>
                            {% elif pedido.situacao == 'Faturado' %}
                                <td style="text-align: center; width: 100px;" class="task-item">
                                    <div style="background-color: #3CB371; color: white; border-radius: 20px; padding-left: 5px; padding-right: 5px; margin-top: 5px;">
                                        <strong>{{ pedido.situacao }}</strong>
                                    </div>
                                </td>
                            {% else %}
                                <td style="text-align: center; width: 100px;" class="task-item">
                                    <div style="background-color: #800000; color: white; border-radius: 20px; padding-left: 5px; padding-right: 5px; margin-top: 5px;">
                                        <strong>{{ pedido.situacao }}</strong>
                                    </div>
                                </td>
                            {% endif %}
                            <td style="align-items: center;">{{ pedido.fantasia_emp }}</td>
                            <td style="color: #36454F; font-weight: bold;">{{ pedido.cli }}</td>
                            <td style="color: #36454F; font-weight: bold;">{{ pedido.vendedor }}</td>
                            <td style="align-items: center;">{{ pedido.dt_emi|date:"d/m/Y" }}</td>
                            <td style="align-items: center;">{{ pedido.dt_fat|date:"d/m/Y" }}</td>
                            <td style="color: #36454F; font-weight: bold;">{{ pedido.total|moeda_br }}</td>
                            <td style="align-items: center; font-weight: bold;">
                                <div style="max-height: 5em; overflow-y: auto; white-space: normal; line-height: 0.8em;">
                                    {% for forma in pedido.formas_convertidas %}
                                        <div class="p-1 mb-1 bg-secondary text-light rounded-3" style="font-size: 0.8rem;">
                                            {{ forma.descricao }} <span style="float: right;">{{ forma.valor|moeda_br }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="12" class="me-auto" style="text-align: center;">
                            Nenhum pedido encontrado.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-body" style="max-height: 50px;">
                <strong>Total de Pedidos: {{ pedidos|length }}</strong>
                <a id="add-link" href="{% url 'add-pedido' %}" style="margin-left: 1%; margin-right: 1%; float: right;" class="btn-permissao" data-permissao="pedidos.add_pedido" data-msg-negado="Seu usuário não pode adicionar pedidos!">
                    <button type="button" class="btn btn-primary btn-sm" id="add-pedido"><i class="fas fa-plus"></i> Novo</button>
                </a>
            </div>
            <div class="card-footer text-body-secondary">
                <nav aria-label="Page navigation example" style="padding-bottom: 1px;">
                    <ul class="pagination justify-content-center">
                        {% if pedidos.number > 1 and pedidos.number > 3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="First">
                                    <span aria-hidden="true" style="color: #0f1d2b;">1</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if pedidos.number > 4 %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        {% endif %}
                        {% for num in pedidos.paginator.page_range %}
                            {% if num >= pedidos.number|add:'-2' and num <= pedidos.number|add:'2' %}
                                {% if pedidos.number == num %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link" style="background-color: #0f1d2b; color: white;">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" style="color: #0f1d2b;" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if pedidos.number < pedidos.paginator.num_pages|add:'-3' %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        {% endif %}
                        {% if pedidos.number < pedidos.paginator.num_pages and pedidos.number < pedidos.paginator.num_pages|add:'-2' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pedidos.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    <span aria-hidden="true" style="color: #0f1d2b;">{{ pedidos.paginator.num_pages }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        function imprimirEFaturar(id) {
            fetch(`/orcamentos/fat_orc/${id}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                }
            })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    const win = window.open(`/orcamentos/comprovante/${id}/`, '_blank');
                    const selectSituacao = document.getElementById('situacao');
                    if (selectSituacao) {
                        selectSituacao.value = 'Todos';
                    }
                    const checkClose = setInterval(function () {
                        if (win.closed) {
                            clearInterval(checkClose);

                            // Aciona o botão de busca ao fechar o comprovante
                            const btnBuscar = document.getElementById('data-btn');
                            if (btnBuscar) {
                                btnBuscar.click();
                            }

                            // Exibe o Toastify só depois que o comprovante for fechado
                            Toastify({
                                text: "Orçamento faturado com sucesso!",
                                duration: 10000,
                                gravity: "top",
                                position: "center",
                                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)"
                            }).showToast();
                        }
                    }, 1000);
                }
            })
            .catch(() => {
                Toastify({
                    text: "Erro ao faturar orçamento!",
                    duration: 3000,
                    gravity: "top",
                    position: "center",
                    backgroundColor: "linear-gradient(to right, #d58300, #ffc93b)"
                }).showToast();
            });
        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.slice(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}
