{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Alterar Empresa{% endblock %}
{% block content %}
<div class="container-fluid bg-white">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <!--<li class="breadcrumb-item"><a href="{% url 'inicio' %}" id="item-naveg">Principal</a></li>-->
            <li class="breadcrumb-item"><a href="{% url 'lista-empresas' %}" id="item-naveg">Empresas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Alterar</li>
        </ol>
    </nav>
    <div class="formularios">
        <form method="POST" id="createForm" enctype="multipart/form-data">
            {% csrf_token %}
            {% if empresa %}
                {% if error_messages %}
                    <div id="toast-messages" data-messages='[
                        {"text": "{% for message in error_messages %}{{ message }}<br>{% endfor %}", "tag": "error"}
                    ]'></div>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        <span>
                            ALTERAÇÃO DE EMPRESAS
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row g-3" style="margin-left: -8px;">
                            <div class="col-md-1">
                                {{ form.situacao|as_crispy_field }}
                            </div>
                            <div class="col-md-1">
                                {{ form.gerar_filial|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.cnpj|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.ie|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.razao_social|as_crispy_field }}
                            </div>
                            <div class="col-md-2">
                                {{ form.fantasia|as_crispy_field }}
                            </div>
                            <div class="col-md-1" id="div_id_logo">
                                <input type="file" id="id_logo" name="logo" style="display: none;" onchange="previewImage(event)">
                                <img id="logo-preview"
                                     class="form-control form-control-sm border-dark-subtle"
                                     src="{% if empresa.logo %}{{ empresa.logo.url }}{% else %}https://www.pythonanywhere.com/user/allitec/files/home/allitec/Allitec/media/default_logo.png{% endif %}"
                                     alt="Logo da empresa"
                                     title="Clique para alterar a imagem"
                                     style="cursor: pointer; width: 90px; height: 90px; border: 1px solid #ddd; border-radius: 5px;">
                            </div>
                            <div class="card">
                                <div class="form-buttons" style="margin-left: 10px; margin-top: 10px;">
                                    <div class="card-header bg-white">
                                        <button type="button" class="btn btn-dark" id="endBtn">Endereço</button>
                                        <button type="button" class="btn btn-dark" id="complBtn">Complementos</button>
                                        <button type="button" class="btn btn-dark" id="dadosRespBtn">Dados Resp.</button>
                                    </div>
                                </div>
                                <div class="form-section" id="enderecos">
                                    <div class="row g-3" style="margin-left: -8px;">
                                        <div class="col-md-2">
                                            {{ form.cep|as_crispy_field }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ form.endereco|as_crispy_field }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form.numero|as_crispy_field }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form.bairro_emp|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.cidade_emp|as_crispy_field }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form.complem|as_crispy_field }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form.uf_emp|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="complementos">
                                    <div class="row g-3" style="margin-left: -8px;">
                                        <div class="col-md-2">
                                            {{ form.tel|as_crispy_field }}
                                        </div>
                                        <div class="col-md-5">
                                            {{ form.email|as_crispy_field }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form.dia_venc|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.qtd_filial|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.qtd_usuarios|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="dadosResponsavel">
                                    <div class="row g-3" style="margin-left: -8px;">
                                        <div class="col-md-3">
                                            {{ form.nome|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.cpf|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.orgao|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.dt_nasc|as_crispy_field }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form.endereco_adm|as_crispy_field }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form.cep_adm|as_crispy_field }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form.numero_adm|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.bairro_adm|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.cidade_adm|as_crispy_field }}
                                        </div>
                                        <div class="col-md-1">
                                            {{ form.uf_adm|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form.tel_adm|as_crispy_field }}
                                        </div>
                                        <div class="col-md-3">
                                            {{ form.email_adm|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="base_botao">
                            <button type="button" class="btn btn-success botoes" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="openModalBtn">Alterar</button>
                            <a href="#" class="btn btn-secondary botoes" id="voltarBtn" style="margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#loadingModal">Voltar</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header titulo-modal">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa-regular fa-circle-question"></i> Confirmação!</h1>
                </div>
                <div class="modal-body">
                    <p>Você confirma a ALTERAÇÃO DA EMPRESA?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadingModal" id="confirmBtn"><u>S</u>im</button>
                    <button type="button" class="btn btn-secondary" id="btnRecusa" data-bs-dismiss="modal"><u>N</u>ão</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}