{% extends 'base.html' %}
{% load static %}
{% block title %}Lista - Regras de Produto{% endblock %}
{% block content %}
    <div class="container-fluid bg-white">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inicio' %}" id="item-naveg">Principal</a></li>
                <li class="breadcrumb-item active" aria-current="page">Listagem de Regras de Produto</li>
            </ol>
        </nav>
        {% if messages %}
            <div id="django-messages" data-messages='[
                {% for message in messages %}
                    {"text": "{{ message|escapejs }}", "tag": "{{ message.tags }}"}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ]'></div>
        {% endif %}
        {% if not perm_add_regraproduto and not perm_change_regraproduto and not perm_delete_regraproduto %}
            <div class="alert alert-warning">
                Usuário não autorizado para realizar esta função.
            </div>
        {% endif %}
        <form method="GET" id="search-form" style="margin-left: 1%; margin-right: 1%;">
            <div class="row g-3 align-items-end">
                <div class="col-md-1 search-div">
                    <label class="form-label">Filtro:</label>
                    <select name="tp" id="tp" class="form-control">
                        <option value="desc" {% if request.GET.tp == 'desc' %}selected{% endif %}>Descrição</option>
                        <option value="cod" {% if request.GET.tp == 'cod' %}selected{% endif %}>Código</option>
                    </select>
                </div>
                <div class="col-md-2 search-div flex-md-fill">
                    <label class="form-label">Conteúdo:</label>
                    <input class="form-control" type="text" name="s" id="s" placeholder="Digite o termo de busca" value="{{ request.GET.s }}">
                </div>
                <div class="col-md-1 search-div">
                    <label class="form-label">Reg.:</label>
                    <select class="form-control" id="qtd_reg" name="reg">
                        <option value="10" {% if request.GET.reg == '10' %}selected{% endif %}>10</option>
                        <option value="20" {% if request.GET.reg == '20' %}selected{% endif %}>20</option>
                        <option value="30" {% if request.GET.reg == '30' %}selected{% endif %}>30</option>
                        <option value="40" {% if request.GET.reg == '40' %}selected{% endif %}>40</option>
                        <option value="50" {% if request.GET.reg == '50' %}selected{% endif %}>50</option>
                        <option value="todos" {% if request.GET.reg == 'todos' %}selected{% endif %}>Todos</option>
                    </select>
                </div>
                <div class="col search-div d-flex justify-content-start">
                    <button class="btn btn-dark" title="Consultar regras" type="submit" id="data-btn" data-bs-toggle="modal" data-bs-target="#loadingModal">🔎</button>
                </div>
            </div>
        </form>
        <div class="table-container" style="margin-left: 1%; margin-right: 1%;">
            <table class="table table-bordered table-responsive-md table-rounded table-striped" id="tabelas-lista">
                <thead thead class="table-dark">
                    <tr>
                        <th scope="col" style="text-align: justify; width: 7%;">Opções</th>
                        <th scope="col" style="text-align: center; width: 7%;">Código</th>
                        <th scope="col" style="align-items: center;">Identificador</th>
                        <th scope="col" style="align-items: center;">Descrição</th>
                        <th scope="col" style="align-items: center;">Tipo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in regras %}
                        <tr>
                            <td style="width: 80px;">
                                <span>
                                    <i class="fas fa-trash" title="Deletar" data-bs-toggle="modal" data-bs-target="#modal-{{ r.id }}"></i>
                                </span>
                                <!-- Modal ÚNICO para cada cidade -->
                                <div class="modal fade" id="modal-{{ r.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel-{{ r.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header titulo-modal">
                                                <h1 class="modal-title fs-5" id="modalLabel-{{ r.id }}">
                                                    <i class="fa-regular fa-circle-question"></i> Confirmação!
                                                </h1>
                                            </div>
                                            <div class="modal-body">
                                                <p>Você confirma a EXCLUSÃO DA REGRA DE PRODUTO <strong>{{ r.descricao }}</strong>?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary btn-confirmar" data-url="{% url 'del-regra' r.id %}" disabled>
                                                    <u>S</u>im <span class="contador">3</span>
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><u>N</u>ão</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'att-regra' r.id %}" class="btn-permissao"
                                  data-permissao="regras_produto.change_regraproduto"
                                  data-msg-negado="Seu usuário não pode editar regras de produto!"><span><i class="fas fa-edit" title="Editar"></i></span></a>
                            </td>
                            <td style="align-items: center;">{{ r.id }}</td>
                            <td class="text-uppercase" style="align-items: center;">{{ r.codigo }}</td>
                            <td class="text-uppercase" style="align-items: center;">{{ r.descricao }}</td>
                            <td class="text-uppercase" style="align-items: center;">{{ r.tipo }}</td>
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="me-auto" style="text-align: center;">
                            Nenhuma regra de produto encontrada.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-body" style="max-height: 50px;">
                <strong>Total de Regras de Produto: {{ regras|length }}</strong>
                <a id="add-link" href="{% url 'add-regra' %}" style="margin-left: 1%; margin-right: 1%; float: right;" class="btn-permissao" data-permissao="regras_produto.add_regraproduto" data-msg-negado="Seu usuário não pode adicionar regras de produto!">
                    <button type="button" class="btn btn-primary btn-sm" id="add-regra"><i class="fas fa-plus"></i> Novo</button>
                </a>
                <button class="btn btn-success btn-sm" style="float: right;" data-bs-toggle="modal" data-bs-target="#modalImportar">
                    <i class="fa-solid fa-file-arrow-up"></i> Importar
                </button>
            </div>
            <div class="card-footer text-body-secondary">
                <nav aria-label="Page navigation example" style="padding-bottom: 1px;">
                    <ul class="pagination justify-content-center">
                        {% if regras.number > 1 and regras.number > 3 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" aria-label="First">
                                    <span aria-hidden="true" style="color: #0f1d2b;">1</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if regras.number > 4 %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        {% endif %}
                        {% for num in regras.paginator.page_range %}
                            {% if num >= regras.number|add:'-2' and num <= regras.number|add:'2' %}
                                {% if regras.number == num %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link" style="background-color: #0f1d2b; color: white;">{{ num }}</span>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" style="color: #0f1d2b;" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if regras.number < regras.paginator.num_pages|add:'-3' %}
                            <li class="page-item disabled">
                                <a class="page-link">...</a>
                            </li>
                        {% endif %}
                        {% if regras.number < regras.paginator.num_pages and regras.number < regras.paginator.num_pages|add:'-2' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ regras.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                                    <span aria-hidden="true" style="color: #0f1d2b;">{{ regras.paginator.num_pages }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div class="modal fade" id="modalImportar" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header titulo-modal">
                        <h5 class="modal-title"><i class="fa-solid fa-file-arrow-up"></i> Importar Regras de Produto</h5>
                    </div>
                    <form class="was-validated" method="post" action="{% url 'lista-regras' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            {{ form_importacao.arquivo }}
                            <div class="invalid-feedback">Arquivo de Importação inválido.</div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa-solid fa-file-arrow-up"></i> Importar
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                                <i class="fa-regular fa-circle-xmark"></i> Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}