{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Alterar Filial{% endblock %}
{% block content %}
    <div class="container-fluid bg-white">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inicio' %}" id="item-naveg">Principal</a></li>
                <li class="breadcrumb-item"><a href="{% url 'lista-filiais' %}" id="item-naveg">Filiais</a></li>
                <li class="breadcrumb-item active" aria-current="page">Alterar</li>
            </ol>
        </nav>
        <div class="formularios">
            <form method="POST" id="createForm" enctype="multipart/form-data">
                {% csrf_token %}
                {% if filial %}
                    {% if error_messages %}
                        <div id="toast-messages" data-messages='[
                            {"text": "{% for message in error_messages %}{{ message }}<br>{% endfor %}", "tag": "error"}
                        ]'></div>
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <span>ALTERAÇÃO DE FILIAIS</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1">{{ form.situacao|as_crispy_field }}</div>
                                <div class="col-md-2">{{ form.cnpj|as_crispy_field }}</div>
                                <div class="col-md-2">{{ form.ie|as_crispy_field }}</div>
                                <div class="col-md-3">{{ form.razao_social|as_crispy_field }}</div>
                                <div class="col-md-2">{{ form.fantasia|as_crispy_field }}</div>
                                <div class="col-md-1">{{ form.dt_criacao|as_crispy_field }}</div>
                                <div class="col-md-1">
                                    <input type="file" id="id_logo" name="logo" style="display: none;">
                                    <img id="logo-preview" class="form-control form-control-sm border-dark-subtle" src="{% if filial.logo and filial.logo.url %}{{ filial.logo.url }}{% else %}https://www.freeiconspng.com/thumbs/camera-icon/camera-icon-21.png{% endif %}"
                                        alt="Logo da filial" title="Clique para alterar a imagem" style="cursor: pointer; width: 90px; height: 90px; border: 1px solid #ddd; border-radius: 5px;">
                                </div>
                                <div class="col-md-2">{{ form.tel|as_crispy_field }}</div>
                                <div class="col-md-2">{{ f_contato.celular|as_crispy_field }}</div>
                                <div class="col-md-2">{{ f_contato.whatsapp|as_crispy_field }}</div>
                                <div class="col-md-4">{{ f_contato.site|as_crispy_field }}</div>
                                <div class="col-md-2">{{ f_contato.instagram|as_crispy_field }}</div>
                                <div class="col-md-2">{{ f_contato.facebook|as_crispy_field }}</div>
                                <div class="col-md-3">{{ f_contato.email_comercial|as_crispy_field }}</div>
                                <div class="col-md-3">{{ f_contato.email_financeiro|as_crispy_field }}</div>
                                <div class="col-md-3">{{ f_contato.email_fiscal|as_crispy_field }}</div>
                            </div>
                            <div class="card tab-container" style="margin: 0; margin-top: 5px;">
                                <div class="form-buttons" style="margin-left: 10px; margin-top: 1px;">
                                    <div class="card-header bg-white">
                                        <button type="button" class="btn btn-dark menu-btn" data-section="enderecos" id="endBtn">Endereço</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="faturamentos" id="faturBtn">Faturamento</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="complementos" id="complBtn">Fiscal</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="financeiros" id="financBtn">Financeiro</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="impressoes" id="impBtn">Impressão</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="dados_observacoes" id="dadosObsBtn">Observações</button>
                                        <button type="button" class="btn btn-dark menu-btn" data-section="dados_orcamentos" id="orcamentoBtn">Orçamento (Portas)</button>
                                    </div>
                                </div>
                                <div class="form-section active-section" id="enderecos">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2">{{ form.cep|as_crispy_field }}</div>
                                        <div class="col-md-8">{{ form.endereco|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ form.numero|as_crispy_field }}</div>
                                        <div class="col-md-5">{{ form.complem|as_crispy_field }}</div>
                                        <div class="col-md-3">
                                            <label class="form-label mb-2">Bairro*</label>
                                            <div class="input-group input-group-sm" id="bairro-wrapper">
                                                <div id="bairro-select-area" class="flex-grow-1">
                                                    {{ form.bairro_fil }}
                                                </div>
                                                <div id="bairro-input-area" style="flex:1; display:none;">
                                                    <input type="text" id="novo-bairro" class="form-control form-control-sm border-dark-subtle " placeholder="Digite o novo bairro">
                                                </div>
                                                <button type="button" class="btn btn-dark rounded-end" id="btn-novo-bairro">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                                <button type="button" class="btn btn-success btn-sm" id="btn-confirmar-bairro" style="display:none;">
                                                    <i class="fa-solid fa-check"></i>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" id="btn-cancelar-bairro" style="display:none;">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">{{ form.cidade_fil|as_crispy_field }}</div>
                                        <div class="col-md-1">{{ form.uf|as_crispy_field }}</div>
                                    </div>
                                </div>
                                <div class="form-section" id="faturamentos">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-3">{{ form.tb_preco|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ form.vendedor|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ form.cli|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ form.tec|as_crispy_field }}</div>
                                        <div class="col-md-3">{{ form.tp_conta|as_crispy_field }}</div>
                                        <div class="col-md-3">{{ form.agrupa_itens|as_crispy_field }}</div>
                                        <div class="col-md-3">{{ f_estoque.estoque_padrao|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_estoque.controla_lote|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_estoque.controla_validade|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_estoque.ativar_alerta_estoque|as_crispy_field }}</div>
                                    </div>
                                </div>
                                <div class="form-section" id="complementos">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2">{{ f_fiscal.crt|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.im|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.suframa|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.cnae_principal|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.serie_nfe|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.serie_nfce|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.ultimo_numero_nfe|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.ultimo_numero_nfce|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.ambiente_fiscal|as_crispy_field }}</div>
                                        <div class="col-md-4">{{ f_fiscal.csc|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.cod_csc|as_crispy_field }}</div>
                                        <div class="col-md-10">{{ f_fiscal.certificado|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_fiscal.senha_certificado|as_crispy_field }}</div>
                                        <div class="col-12 mt-2">
                                            <div id="info-certificado"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="financeiros">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2">{{ f_financeiro.tp_chave|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_financeiro.chave_pix|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_financeiro.banco_fil|as_crispy_field }}</div>
                                        <div class="col-md-4">{{ f_financeiro.beneficiario|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_financeiro.tp_calc_juros|as_crispy_field }}</div>
                                        <div class="col-md-1">{{ f_financeiro.ft_juros|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_financeiro.tp_calc_multa|as_crispy_field }}</div>
                                        <div class="col-md-1">{{ f_financeiro.ft_multa|as_crispy_field }}</div>
                                        <div class="col-md-3">
                                            <label class="form-label">Máx. Parcelas<i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Utilizado em Contas à Receber"></i></label>
                                            {{ f_financeiro.max_parcelas|as_crispy_field }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Máx. (Dias Intervalo)<i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Utilizado em Contas à Receber"></i></label>
                                            {{ f_financeiro.max_dias_intervalo|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">{{ f_financeiro.desconto_maximo|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_financeiro.acrescimo_maximo|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_financeiro.limite_credito_padrao|as_crispy_field }}</div>
                                    </div>
                                </div>
                                <div class="form-section" id="impressoes">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2">{{ f_impressao.imprimir_logo|as_crispy_field }}</div>
                                        <div class="col-md-2">
                                            <label class="form-label">Imprimir Recibo <i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Utilizado em Contas à Receber"></i></label>
                                            {{ f_impressao.imp_recibo_cr|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Imprimir Recibo <i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Utilizado em Contas à Pagar"></i></label>
                                            {{ f_impressao.imp_recibo_cp|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-section" id="dados_observacoes">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-4">{{ f_observacao.obs_pedido|as_crispy_field }}</div>
                                        <div class="col-md-4">{{ f_observacao.observacao_nfe|as_crispy_field }}</div>
                                        <div class="col-md-4">{{ f_observacao.observacao_boleto|as_crispy_field }}</div>
                                    </div>
                                </div>
                                <div class="form-section" id="dados_orcamentos">
                                    <div class="row" style="margin-bottom: 10px;">
                                        <div class="col-md-2">{{ f_orcamento.layout_contrato|as_crispy_field }}</div>
                                        <div class="col-md-2">{{ f_orcamento.layout_prod|as_crispy_field }}</div>
                                        <div class="col-md-2">
                                            <label class="form-label">Quest. Imp. Recibo <i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Utilizado em Orçamentos - Portas"></i></label>
                                            {{ f_orcamento.imp_recibo_orc|as_crispy_field }}
                                        </div>
                                        <div class="col-md-6">{{ f_orcamento.info_comp|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ f_orcamento.info_orcamento|as_crispy_field }}</div>
                                        <div class="col-md-6">{{ f_orcamento.info_local|as_crispy_field }}</div>
                                        <div class="col-md-3">
                                            <label class="form-label">Fator M²*<i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Cálculo de M² Utilizado em Orçamentos - Portas"></i></label>
                                            {{ f_orcamento.multi_m2|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                        <label class="form-label">Fator Larg. Corte (Op. 1)*<i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Cálculo de Largura de Corte Para opção (Fora do Vão) Utilizado em Orçamentos - Portas"></i></label>
                                            {{ f_orcamento.multi_lg_corte1|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Fator Larg. Corte (Op. 2)*<i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Cálculo de Largura de Corte Para opção (Dentro do Vão) Utilizado em Orçamentos - Portas"></i></label>
                                            {{ f_orcamento.multi_lg_corte2|as_crispy_field }}
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">Fator Larg. Corte (Op. 3)*<i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Cálculo de Largura de Corte Para opção (1 Lado Dentro do Vão) Utilizado em Orçamentos - Portas"></i></label>
                                            {{ f_orcamento.multi_lg_corte3|as_crispy_field }}
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Fator Qtde. Lâm.*<i class="fa-solid fa-circle-exclamation ms-1" data-bs-toggle="tooltip" title="Cálculo de Qtde. de Lâminas Utilizado em Orçamentos - Portas"></i></label>
                                            {{ f_orcamento.mt_qt_lam|as_crispy_field }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="base_botao">
                                <button type="button" class="btn btn-success botoes" data-bs-target="#staticBackdrop" id="openModalBtn">Alterar</button>
                                <a href="#" class="btn btn-secondary botoes" id="voltarBtn" style="margin-right: 10px;">Voltar</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header titulo-modal">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa-regular fa-circle-question"></i> Confirmação!</h1>
                    </div>
                    <div class="modal-body">
                        <p>Você confirma a ALTERAÇÃO DA FILIAL?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadingModal" id="confirmBtn"><u>S</u>im</button>
                        <button type="button" class="btn btn-secondary" id="btnRecusa" data-bs-dismiss="modal"><u>N</u>ão</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block extra_js %}
    <script>
        window.FILIAL_CONFIG = {
            codigo: "{{ filial.codigo }}",
            temCertificado: {{ tem_certificado|yesno:"true,false" }}
        };
    </script>
    {% endblock %}
{% endblock %}