{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Lista - Mensalidades{% endblock %}
{% block content %}
    <div class="container-fluid py-3 min-vh-100">
        <nav class="mt-5" aria-label="breadcrumb">
            <ol class="breadcrumb p-2 m-2">
                <li class="breadcrumb-item">
                    <a href="{% url 'inicio' %}" class="text-decoration-none text-secondary" id="item-naveg"><i class="fas fa-home me-1"></i> Principal</a>
                </li>
                <li class="breadcrumb-item active text-dark fw-semibold" aria-current="page">Listagem de Mensalidades</li>
            </ol>
        </nav>
        {% if messages %}
            <div id="django-messages" data-messages='[
                {% for message in messages %}
                    {"text": "{{ message|escapejs }}", "tag": "{{ message.tags }}"}
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ]'></div>
        {% endif %}
        <div class="card border-0 shadow-sm rounded-3 mb-2">
            <div class="card-body p-0 mb-2">
                <form method="GET" id="search-form">
                    <div class="row g-3 align-items-end">
                        <div class="col-xl-1 col-md-2 flex-md-fill">
                            <label for="emp" class="form-label small text-secondary fw-semibold">Empresa</label>
                            <select class="form-select form-select-sm" id="emp" name="emp">
                                <option value="">Escolha uma opção</option>
                                {% for e in empresas %}
                                    <option value="{{ c.id }}" {% if request.GET.emp == c.id|stringformat:"s" %}selected{% endif %}>{{ e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xl-1 col-md-2">
                            <label for="situacao" class="form-label small text-secondary fw-semibold">Situação</label>
                            <select class="form-select" name="sit" id="situacao">
                                <option value="Aberta" {% if request.GET.sit == 'Aberta' %}selected{% endif %}>Aberta</option>
                                <option value="Baixada" {% if request.GET.sit == 'Baixada' %}selected{% endif %}>Baixada</option>
                                <option value="todas" {% if request.GET.sit == 'todas' %}selected{% endif %}>Todas</option>
                            </select>
                        </div>
                        <div class="col-xl-1 col-md-2">
                            <label for="list_p" class="form-label small text-secondary fw-semibold">Data de</label>
                            <select class="form-select" name="list_p" id="list_p">
                                <option value="dt_v" {% if list_p == 'dt_v' %}selected{% endif %}>Dt. Vencimento</option>
                                <option value="dt_e" {% if list_p == 'dt_e' %}selected{% endif %}>Dt. Emissão</option>
                                <option value="dt_p" {% if list_p == 'dt_p' %}selected{% endif %}>Dt. Pagamento</option>
                            </select>
                        </div>
                        <div class="col-xl-1 col-md-4">
                            <label for="usar-data" class="form-label small text-secondary fw-semibold">Filtrar Data</label>
                            <select class="form-select" id="usar-data" name="p_dt">
                                <option value="Sim" {% if p_dt == 'Sim' %}selected{% endif %}>Sim</option>
                                <option value="Nao" {% if p_dt == 'Nao' %}selected{% endif %}>Não</option>
                            </select>
                        </div>
                        <div class="col-xl-3 col-md-8">
                            <label class="form-label small text-secondary fw-semibold">Período</label>
                            <div class="input-group">
                                <input class="form-control" type="text" name="dt_ini" id="data_inicio1" placeholder="De" value="{{ request.GET.dt_ini }}">
                                <span class="input-group-text bg-white text-secondary"><i class="fas fa-calendar-alt"></i></span>
                                <input class="form-control" type="text" name="dt_fim" id="data_fim1" placeholder="Até" value="{{ request.GET.dt_fim }}">
                            </div>
                        </div>
                        <div class="col-xl-1 col-md-4">
                            <label class="form-label small text-secondary fw-semibold">Exibir</label>
                            <select class="form-select" id="qtd_reg" name="reg">
                                <option value="10" {% if request.GET.reg == '10' %}selected{% endif %}>10</option>
                                <option value="20" {% if request.GET.reg == '20' %}selected{% endif %}>20</option>
                                <option value="30" {% if request.GET.reg == '30' %}selected{% endif %}>30</option>
                                <option value="40" {% if request.GET.reg == '40' %}selected{% endif %}>40</option>
                                <option value="50" {% if request.GET.reg == '50' %}selected{% endif %}>50</option>
                                <option value="todos" {% if request.GET.reg == 'todos' %}selected{% endif %}>Todos</option>
                            </select>
                        </div>
                        <div class="col-xl-1 col-md-2">
                            <label for="ordem" class="form-label small text-secondary fw-semibold">Ordem</label>
                            <select class="form-control" name="ordem" id="ordem">
                                <option value="empresa__fantasia" {% if request.GET.ordem == 'empresa__fantasia' %}selected{% endif %}>Empresa</option>
                                <option value="dt_venc" {% if request.GET.ordem == 'dt_venc' %}selected{% endif %}>Dt. Venc.</option>
                                <option value="created_at" {% if request.GET.ordem == 'created_at' %}selected{% endif %}>Dt. Emissão</option>
                                <option value="dt_pag" {% if request.GET.ordem == 'dt_pag' %}selected{% endif %}>Dt. Pgto.</option>
                            </select>
                        </div>
                        <div class="col-xl-auto col-md-12 d-grid">
                            <button class="btn btn-dark px-4" title="Consultar" type="submit" id="data-btn">
                                <i class="fa-solid fa-magnifying-glass"></i> Filtrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card border-0 shadow-sm rounded-3 overflow-hidden mb-4">
            <div class="list-group">
                <!-- Cabeçalho -->
                <div class="list-group-item bg-light fw-bold cabecalho-lista">
                    <div class="row align-items-center">
                        <div class="col-md-1 text-center border-end">Ações</div>
                        <div class="col-md-1 text-center border-end">Nº Mensal.</div>
                        <div class="col-md-1 text-center border-end">Situação</div>
                        <div class="col-md-2 border-end">Empresa</div>
                        <div class="col-md-1 text-center border-end" style="font-size: 0.9rem;"><div class="border-bottom">Dt. Emissão</div>Dt. Vencimento</div>
                        <div class="col-md-1 border-end">Vl. Título</div>
                        <div class="col-md-1 border-end">Dias Atraso</div>
                        <div class="col-md-1 text-center border-end"><div class="border-bottom">Vl. Juros</div>Vl. Multa</div>
                        <div class="col-md-1 border-end">Vl. Restante</div>
                        <div class="col-md-1 border-end" style="font-size: 0.9rem;">Dt. Pagamento</div>
                        <div class="col-md-1">Link</div>
                    </div>
                </div>
                <!-- Registros -->
                {% for m in mensalidades %}
                    <div class="list-group-item py-0 item-lista">
                        <div class="row align-items-center linha-lista" style="font-size: 0.90rem;">
                            <!-- Ações -->
                            <div class="col-md-1 text-center mb-1 mb-md-0 acoes-col">
                                <div class="btn-group btn-group-sm">
                                    {% if m.situacao == 'Aberta' %}
                                        <a href="{% url 'att-mensalidade' m.id %}?next={{ request.get_full_path|urlencode }}" class="btn btn-light btn-sm border">
                                            <i class="fas fa-edit text-success"></i>
                                        </a>
                                        <button class="btn btn-light btn-sm border" data-bs-toggle="modal" data-bs-target="#modal-{{ m.id }}">
                                            <i class="fas fa-trash text-danger"></i>
                                        </button>
                                        <button class="btn btn-light btn-sm border" data-bs-toggle="modal" data-bs-target="#mdBaixa-{{ m.id }}">
                                            <i class="fa-solid fa-circle-down"></i>
                                        </button>
                                    {% else %}
                                        <button class="btn btn-light btn-sm border" data-bs-toggle="modal" data-bs-target="#mdEstMens-{{ m.id }}">
                                            <i class="fa-solid fa-arrow-rotate-left text-info"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Nº Mensalidade -->
                            <div class="col-md-1 fw-bold text-center text-secondary codigo-col" data-label="Nº Mensalidade:">#{{ m.num_mens }}</div>
                            <!-- Situação -->
                            <div class="col-md-1 text-center codigo-col" data-label="Situação:">
                                {% if m.situacao == 'Aberta' %}
                                    <span class="badge bg-primary"><i class="fa-regular fa-clock"></i> {{ m.situacao }}</span>
                                {% else %}
                                    <span class="badge bg-success"><i class="fa-regular fa-circle-check"></i> {{ m.situacao }}</span>
                                {% endif %}
                            </div>
                            <!-- Empresa -->
                            <div class="col-md-2 fw-bold descricao-col" data-label="Empresa:">{{ m.empresa.fantasia }}</div>
                            <!-- Dt. Emissão/Dt. Vencimento -->
                            <div class="col-md-1 text-center fw-bold" style="font-size: 0.9rem;">
                                <div class="border-bottom descricao-col" data-label="Dt. Emissão:">
                                    <small class="f-flex d-md-none">Dt. Emissão:</small> {{ m.created_at|date:"d/m/Y" }}
                                </div>
                                <div class="border-bottom descricao-col" data-label="Dt. Vencimento:">
                                    <small class="f-flex d-md-none">Dt. Vencimento:</small> {{ m.dt_venc|date:"d/m/Y" }}
                                </div>
                            </div>
                            <!-- Dias Atraso -->
                            <div class="col-md-1 fw-bold codigo-col" style="font-size: 0.875rem;" data-label="Dias Atraso:">
                                {% if m.dias_atraso > 0 %}
                                    <span class="fw-semibold text-danger">{{ m.dias_atraso }}</span>
                                {% else %}
                                    <span class="fw-semibold text-secondary">{{ m.dias_atraso }}</span>
                                {% endif %}
                            </div>
                            <!-- Vl. Juros/Multa -->
                            <div class="col-md-1 text-center fw-bold">
                                <div class="border-bottom descricao-col" data-label="Vl. Juros:">
                                    <small class="f-flex d-md-none">Vl. Juros:</small> {{ m.vl_juros|moeda_br }}
                                </div>
                                <div class="border-bottom descricao-col" data-label="Vl. Multa:">
                                    <small class="f-flex d-md-none">Vl. Multa:</small> {{ m.vl_multa|moeda_br }}
                                </div>
                            </div>
                            <!-- Valor Restante -->
                            <div class="col-md-1 fw-semibold codigo-col" data-label="Vl. Restante:">{{ m.valor_total|moeda_br }}</div>
                            <!-- Dt. Pagamento -->
                            <div class="col-md-1 text-center fw-semibold codigo-col" data-label="{% if m.situacao == 'Baixada' %}Dt. Pagamento:{% endif %}">{% if m.situacao == 'Baixada' %}{{ m.dt_pag|date:"d/m/Y" }}{% else %} - {% endif %}</div>
                            <!-- Link -->
                            <div class="col-md-1 fw-semibold codigo-col" data-label="Link:">
                                {% if m.tp_mens == 'Pix' %}
                                    <a href="{% url 'portal_pagamentos' %}" target="_blank" class="btn btn-light btn-sm border">
                                        <i class="fa-solid fa-qrcode text-info"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Modal ÚNICO para cada empresa -->
                    <div class="modal fade" id="modal-{{ m.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel-{{ m.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header titulo-modal">
                                    <h5 class="modal-title" id="modalLabel-{{ m.id }}">
                                        <i class="fa-regular fa-circle-question"></i> Confirmação!
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <p>Você confirma a EXCLUSÃO DA MENSALIDADE - <strong>{{ m.id }}</strong>?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'del-empresa' m.id %}" class="form-excluir">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-confirmar" id="confirmBtn" disabled>
                                            <u>S</u>im <span class="contador">3</span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnRecusa">
                                            <u>N</u>ão
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="mdBaixa-{{ m.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdBaixaLabel-{{ m.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header titulo-modal">
                                    <h5 class="modal-title" id="mdBaixaLabel-{{ m.id }}">
                                        <i class="fa-regular fa-circle-question"></i> Confirmação!
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <p>Você confirma a BAIXA DA MENSALIDADE - <strong>{{ m.num_mens }}</strong>?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'baixar-mensalidade' m.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-confirmar" disabled>
                                            <u>S</u>im <span class="contador">3</span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <u>N</u>ão
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="mdEstMens-{{ m.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mdEstMens-{{ m.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header titulo-modal">
                                    <h5 class="modal-title" id="mdEstMens-{{ m.id }}">
                                        <i class="fa-regular fa-circle-question"></i> Confirmação!
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    <p style="text-align: center;">Você confirma o ESTORNO DA MENSALIDADE - <strong>{{ m.id }}</strong>?</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'estornar-mensalidade' m.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary btn-confirmar" disabled>
                                            <u>S</u>im <span class="contador">3</span>
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <u>N</u>ão
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="list-group-item text-center py-3 text-muted">
                        <i class="fas fa-folder-open fs-2 d-block mb-3 opacity-50"></i> Nenhuma mensalidade encontrada.
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer bg-white border-top p-1">
                <div class="row align-items-center">
                    <div class="col-md-4 mt-1 text-center text-md-start">
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item">Total de Mensalidades: <span class="badge bg-secondary ms-1">{{ mensalidades|length }}</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 mt-1 d-flex justify-content-center">
                        {% if mensalidades.paginator.num_pages > 1 %}
                            <nav aria-label="Navegação de páginas">
                                <ul class="pagination pagination-sm m-0 gap-1 border-0">
                                    {% if mensalidades.number > 3 %}
                                        <li class="page-item">
                                            <a class="page-link rounded border-0 text-dark" href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">1</a>
                                        </li>
                                    {% endif %}
                                    {% if mensalidades.number > 4 %}
                                        <li class="page-item disabled"><span class="page-link border-0 bg-transparent">...</span></li>
                                    {% endif %}
                                    
                                    {% for num in mensalidades.paginator.page_range %}
                                        {% if num >= mensalidades.number|add:'-2' and num <= mensalidades.number|add:'2' %}
                                            {% if mensalidades.number == num %}
                                                <li class="page-item active" aria-current="page">
                                                    <span class="page-link rounded border-0 bg-dark text-white fw-bold">{{ num }}</span>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link rounded border-0 text-dark" href="?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if mensalidades.number < mensalidades.paginator.num_pages|add:'-3' %}
                                        <li class="page-item disabled"><span class="page-link border-0 bg-transparent">...</span></li>
                                    {% endif %}
                                    {% if mensalidades.number < mensalidades.paginator.num_pages and mensalidades.number < mensalidades.paginator.num_pages|add:'-2' %}
                                        <li class="page-item">
                                            <a class="page-link rounded border-0 text-dark" href="?page={{ mensalidades.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ mensalidades.paginator.num_pages }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                    <div class="col-md-4 mt-1 text-center text-md-end">
                        <a id="add-link" href="{% url 'add-mensalidade' %}">
                            <button type="button" class="btn btn-primary btn-sm px-3 shadow-sm fw-semibold" id="add-empresa">
                                <i class="fas fa-plus me-1"></i> Novo
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}